body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.container {
    position: relative;
    width: 400px;
    height: 600px;
    background-color: #2c3e50;
}

#ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #f39c12;
    border-radius: 50%;
    left: 190px;
    top: 200px;
}

.flipper {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: #ecf0f1;
    bottom: 10px;
}

#leftFlipper {
    left: 50px;
    transform-origin: right;
}

#rightFlipper {
    right: 50px;
    transform-origin: left;
}

.bumper {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #e74c3c;
    border-radius: 50%;
}

#bumper1 {
    left: 50px;
    top: 200px;
}

#bumper2 {
    left: 150px;
    top: 100px;
}

#bumper3 {
    left: 250px;
    top: 200px;
}

#bumper4 {
    left: 150px;
    top: 500px;
}

#bumper5 {
    left: 270px;
    top: 450px;
}
